#chart-thr, 
#chart-shocks {
  border: 1px solid #DEDEDE;
}

.axisT {
  stroke: red;
}

.axisT text {
  fill: red;
}

.axisH {
  stroke: steelblue;
}

.axisH text {
  fill: steelblue;
}

.axisS {
  stroke: darkmagenta;
}

.axisS text {
  fill: darkmagenta;
}

.dotT {
  fill: red;
}

.dotH {
  fill: steelblue;
}

.dotS {
  fill: darkmagenta;
}

.pathT {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.pathH {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.segmentS {
  fill: none;
  stroke: darkmagenta;
  stroke-width: 1.5px;
}

.axisTitle {
  font: 20px sans-serif;
}